name: CI-CD

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build Backend
        run: |
          cd backend
          mvn clean package

      - name: Docker Build
        run: |
          docker build -t 20142018/backend:latest backend
          docker build -t 20142018/frontend:latest frontend

      - name: Login DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push Images
        run: |
          docker push 20142018/backend:latest
          docker push 20142018/frontend:latest
